# @package _global_
name: evaluation
seed: 0
print_config: True
ignore_warnings: True


prediction_path: ${oc.env:PREDICTIONS_PATH}/test/2023-12-20_12-01-24

defaults:
  - datamodule: wair_d_r_var_channels_sequences
  - _self_

hydra:
  run:
    dir: ${oc.env:OUTPUT_DIR}/${now:%Y-%m-%d_%H-%M-%S}
  job:
    chdir: True